<!DOCTYPE html>
<html>
    <head>
        <title>TerraBite &bull; Coming Soon</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="oskikiboy">
        <meta name="description" content="Coming Soon">

        <meta property="og:type" content="website">
        <meta property="og:title" content="TerraBite">
        <meta property="og:image" content="/img/icon.png">
        <meta property="og:description" content="Coming Soon">

        <meta name="twitter:title" content="TerraBite">
        <meta name="twitter:image" content="/img/icon.png">
        <meta name="twitter:description" content="Coming Soon">

        <link rel="shortcut icon" type="image/png" href="/img/icon.png">
        <meta name="theme-color" content="#551A8B">

        <link rel="stylesheet" href="/discord/icon-discord.css">
        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?cp0z2c">
        <link rel="icon" href="/img/icon.png">

        <script src="https://use.fontawesome.com/85986a92d7.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/particles.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
        <script src="/js/bulma.js"></script>
    </head>
    <style type="text/css">
        #particles-js {
            width: 100%;
            height: 0px;
            background-color: #1D1D1D;
            background-image: url('');
            background-repeat: no-repeat;
        }

        .particles-js-canvas-el {
            top: 0;
            left: 0;
        }
    </style>
    <body>
        <div class="notification is-danger is-hidden" style="border-radius: 0px;" id="notification">
            <button class="delete"></button>
            <div class="has-text-centered">
                Help us out with oauth2! Join the <a href="<%= support %>" class="ded">server</a> and the <a href="#team">development</a> team to help out!
            </div>
        </div>
        <div id="particles-js" class="is-hidden-mobile">
        </div>
        <section class="hero is-dark is-fullheight banner" style="z-index: -5;">
            <div class="hero-head">
                <% include ./partials/nav %>
            </div>
            <div class="hero-body">
                <div style="z-index: 50;margin-left: 25%;" class="container is-hidden-mobile">
                    <div class="columns">
                        <img id="logo" src="/img/icon.png">
                        <div class="column is-9">
                            <h1 class="title is-1" style="color:#fff;">&bull; Terrabite</h1>
                            <h2 style="margin-top: -1.2rem;">
                                <% if (!loggedInStatus) { %>
                                <strong>TerraBite</strong> is a WIP Discord bot.
                                <% } else { %>
                                Welcome to the <strong>TerraBite</strong> Dashboard ~ WIP.
                                <% } %>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="container is-hidden-tablet has-text-centered">
                    <h1 class="title is-1">TerraBite</h1>
                    <h2 class="subtitle is-4">
                        <% if (!loggedInStatus) { %>
                        <strong>TerraBite</strong> is a WIP Discord bot.
                        <% } else { %>
                        Welcome to the <strong>TerraBite</strong> Dashboard ~ WIP.
                        <% } %>
                    </h2>
                </div>
            </div>
            <div class="hero-foot">
                <div class="container has-text-centered">
                    <% if (!loggedInStatus) { %>
                    <a class="button is-white is-medium is-outlined" href="/login" style="margin-left: 0px;">
                        <span class="icon is-medium">
                            <i class="fa fa-sign-in"></i>
                        </span>
                        <span>Login</span>
                    </a>
                    <% } else { %>
                    <a class="button is-white is-medium is-outlined" href="/logout" style="margin-left: 0px;">
                        <span class="icon is-medium">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                    <% } %>
                </div>
                <br>
            </div>
        </section>
        <section class="hero is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <nav class="columns">
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-gamepad"></i>
                            </span>
                            <p class="title is-4"><strong>Great Fun!</strong></p>
                            <p class="subtitle">Coinflip, Fortune, 8ball and More!</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-gavel"></i>
                            </span>
                            <p class="title is-4"><strong>Moderation</strong></p>
                            <p class="subtitle">Purge, Kick, Ban, Warn</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-info-circle"></i>
                            </span>
                            <p class="title is-4"><strong>Information</strong></p>
                            <p class="subtitle">Weather, Stats, Userinfo, Uptime</p>
                        </a>
                        <a class="column has-text-centered" href="<%= support %>">
                            <span class="icon is-large">
                                <i class="fa socicon-discord"></i>
                            </span>
                            <p class="title is-4"><strong>Discord</strong></p>
                            <p class="subtitle">A chat to talk about all <strong>bot</strong> related things.</p>
                        </a>
                    </nav>
                </div>
            </div>
        </section>
        <section class="hero is-primary is-bold is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title"><strong>~ Bot Information ~</strong></p>
                    <br>

                    <nav class="columns">
                        <div class="column">
                            <p class="heading"><strong>Total Servers</strong></p>
                            <p class="title is-2"><%= guildamount %></p>
                        </div>

                        <div class="column">
                            <p class="heading"><strong>Total User amount</strong></p>
                            <p class="title is-2"><%= useramount %></p>
                        </div>

                        <div class="column">
                            <p class="heading"><strong>Instance Uptime</strong></p>
                            <p class="title is-2"><%= botuptime %></p>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Credit to Aurora -->
        <section class="hero is-black" id="team">
            <br>
            <div class="container has-text-centered box" id="dark">
                <div class="heading">
                    <h1 class="title" style="color:#363636;">Development team</h1>
                    <div style="padding: -40px">
                        <hr>
                    </div>
                    <h2 class="subtitle" style="color:#363636;"><i>Those who have created the bot</i></h2>
                </div>
                <br><br>
                <div class="columns" id="lead">
                    <div class="column">
                        <a href="https://oskikiboy.me" target="_blank" rel="noopener noreferrer"><img src="https://oskikiboy.me/img/icon.png" class="someone founder"></a>
                        <h3>oskikiboy</h3>
                        <span class="tag is-danger" style="background-color: #5400e9">Project Lead &amp; Founder</span>
                    </div>
                    <div class="column">
                        <a href="https://sideofchips.co.uk" target="_blank" rel="noopener noreferrer"><img src="https://cdn.discordapp.com/avatars/210683612369125386/3539947c07374b11e8d9035d7e80bba0.png?size=2048" class="someone lead"></a>
                        <h3>Haxmat</h3>
                        <span class="tag is-danger">Project Lead</span>
                    </div>

                    <div class="column">
                        <img src="https://cdn.discordapp.com/avatars/229232856063410176/05ed767353dc5e24d79666ad1220e1f6.webp?size=2048" class="someone ldev">
                        <h3>motasim</h3>
                        <span class="tag is-danger">Lead Developer</span>
                    </div>

                    <div class="column">
                        <a href="http://adampro.cu.cc" target="_blank" rel="noopener noreferrer"><img src="http://adampro.cu.cc/img/icon.png" class="someone ldev"></a>
                        <h3>Cringy Adam</h3>
                        <span class="tag is-danger">Lead developer</span>
                    </div>
                </div>
                <div class="columns has-text-centered">
                    <div class="column is-4"></div>
                    <div class="column is-2">
                        <a href="https://blackberrypi.jimdo.com" target="_blank" rel="noopener noreferrer"><img src="https://image.jimcdn.com/app/cms/image/transf/dimension=176x10000:format=png/path/s9f28a009b51a07b8/image/ide51b81d11f5ca70/version/1496651998/image.png" class="someone py"></a>
                        <h3>Raspberry Pi</h3>
                        <span class="tag is-success">TerraBite.py lead</span>
                    </div>
                    <div class="column is-2">
                        <img src="https://cdn.discordapp.com/avatars/301668270648328192/ed9eb124553e2fccf7058f96edf621e1.jpg?size=1024" class="someone gfx">
                        <h3>Tate</h3>
                        <span class="tag is-primary">GFX Designer</span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <a href="http://codefox.ga" target="_blank" rel="noopener noreferrer"><img src="https://cdn.discordapp.com/avatars/236002091120721930/78726411e07da210a51c3ae1c759bcb1.jpg?size=1024" class="someone dev"></a>
                        <h3>Codefox</h3>
                        <span class="tag is-info">Developer</span>
                    </div>
                    <div class="column">
                        <img src="https://cdn.discordapp.com/avatars/178409772436029440/a_0fbc1a8e9ee2427c407940ac01548ee2.gif?size=2048" class="someone dev">
                        <h3>Acorn</h3>
                        <span class="tag is-info">Developer</span>
                    </div>
                    <div class="column">
                        <img src="https://cdn.discordapp.com/avatars/150707175214415872/a4b53a93b1685b6a021b7a44cc95b4e3.webp?size=1024" class="someone dev">
                        <h3>Brandon14</h3>
                        <span class="tag is-info">Developer</span>
                    </div>
                    <div class="column">
                        <img src="https://cdn.discordapp.com/avatars/209395113485402123/b6f7cae6ee6a820b6ececda49a21e9b1.webp?size=1024" class="someone dev">
                        <h3>Jayden</h3>
                        <span class="tag is-info">Developer</span>
                    </div>
                    <div class="column">
                        <img src="https://cdn.discordapp.com/avatars/258971374511587329/c14dd1b3810a0de7cf5cd55e3382b70d.webp?size=1024" class="someone dev">
                        <h3>Hurricane</h3>
                        <span class="tag is-info">Developer</span>
                    </div>
                    <div class="column">
                        <img src="https://cdn.discordapp.com/avatars/260744645884116993/d4eb3ece2848f97ddfdeafec75ea22fa.webp?size=1024" class="someone dev">
                        <h3>Fardin</h3>
                        <span class="tag is-info">Developer</span>
                    </div>
                </div>
            </div>
            <br>
        </section>
        <% include ./partials/foot %>
        <% include ./partials/up %>
        <script src="/js/app.js"></script>
        <script>
            $(document).ready(function() {

                $(window).scroll(function () {
                    //if you hard code, then use console
                    //.log to determine when you want the
                    //nav bar to stick.
                    console.log($(window).scrollTop())
                    if ($(window).scrollTop() > 281) {
                        $('#notification').addClass('front');
                    }
                    if ($(window).scrollTop() < 281) {
                        $('#notification').removeClass('front');
                    }
                });
            });
            $(document).on('click', '.notification > button.delete', function() {
                $(this).parent().addClass('is-hidden');
                return false;
            });
        </script>
    </body>
</html>